<ion-view view-title="Inbox">
  <ion-header-bar align-title="left" class="bar-positive">
    <h1>Inbox</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in inboxData" href="#/app/inbox">
        <div>
          <div class="title">
            <label>{{item.id}}</label>
            <span>{{item.workflowId}}</span>
            <span>{{item.locale}}</span>
          <div>
          <div class="content">
            <span>{{item.description}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
